/* css reset */
/* 关于图片 */
img{
  display: inline-block;
}
/* button */
button{
  padding: 0;
  visibility: visible;
}
button::-moz-focus-inner{
  padding: 0;
}
/* 网页字体 */
html { font: menu; }
body { font-size: 16px; }