/* 按钮基础样式 */
.btn{
  color:#f1f1f1;
  font-size: 16px;
  letter-spacing: 3px;
  outline: none;
  -webkit-appearance: none;
  border:1px solid;
  padding: 6px 18px;
  border-radius: 4px;
  box-sizing: border-box;
  background: rgba(19, 150, 19,0.8);
  display: inline-block;
}
.btn:disabled{
  color: #fff;
  background: rgba(19, 150, 19,0.6);
  cursor: no-drop;
}
.btn:active{
  color: #fff;
  background: rgba(19, 150, 19,1)
}
/* 信息按钮 */
.btn.info{
  background: rgba(169, 169, 169, 0.8);
}
.btn.info:disabled{
  background: rgba(169, 169, 169, 0.6);
}
.btn.info:active{
  background: rgba(169, 169, 169,1);
}
/* 警告按钮 */
.btn.warning{
  background: rgba(212, 141, 7, 0.8);  
}
.btn.warning:active{
  background: rgba(212, 141, 7, 1);
}
.btn.warning:disabled{
  background: rgba(212, 141, 7, 0.6);
}
/* 危险按钮 */
.btn.danger{
  background: rgba(214, 103, 112,0.8);  
}
.btn.danger:active{
  background: rgba(214, 103, 112,1);
}
.btn.danger:disabled{
  background: rgba(214, 103, 112,0.6);
}
/* label */
#btn{
  position: absolute;
  clip: rect(0 0 0 0);
}